@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

:root {
    --color-background: #F4F4F4;

    --color-node: #FFFFFF;
    --color-node-border: #DDDDDD;
    --color-node-text: #282C34;
    --color-node-active: #98C379;
    --color-node-point: #98C379;

    --color-connection: #323844;
    --color-connection-active: #98C379;

    --color-switch-background: #CCCCCC;
    --color-switch-active: #98C379;

    --color-sidebar: #FFFFFF;
    --color-sidebar-border: #DDDDDD;
    --color-sidebar-text: #282C34;
    --color-sidebar-hover: #98C379;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    overflow-y: hidden;
}

html {
    font-size: 10px;
}

body {
    width: 100vw;
    height: 100vh;
    max-height: 100vh;
    background-color: var(--color-background);
    position: relative;
    overflow: hidden;
}

.node {
    position: absolute;
    overflow: visible;
    z-index: 10;
    user-select: none;

    &__container {
        padding: 2.5rem 4rem;
        background-color: var(--color-node);
        border: 0.1rem solid var(--color-node-border);
        display: grid;
        place-items: center;
        cursor: move;
        user-select: none;
        color: var(--color-node-text);
        font-size: 2rem;

        &--active {
            border: 0.1rem solid var(--color-node-active);
            color: var(--color-node-active);
        }
    }

    &__svg {
        height: 6rem;

        svg {
            height: 7rem;

            & * {
                fill: var(--color-node-text);
            }
        }

        &--active svg * {
            fill: var(--color-node-active);
            stroke: var(--color-node-active);
        }
    }

    &__outputs {
        position: absolute;
        right: -0.75rem;
        top: 0;
        height: 100%;
        width: 1.75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__inputs {
        position: absolute;
        left: -0.75rem;
        top: 0;
        height: 100%;
        width: 1.75rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    &__point {
        width: 1.75rem;
        height: 1.75rem;
        border-radius: 50%;
        background-color: var(--color-background);
        border: 0.3rem solid var(--color-node-point);
        cursor: pointer;

        &--filled {
            background-color: var(--color-node-point);
            border: none;
        }
    }

}

.line {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 1;

    &--active polyline {
        stroke: var(--color-connection-active) !important;
    }

    polyline {
        fill: none;
        stroke-width: 5;
        stroke-linecap: round;
        stroke: var(--color-connection);
    }
}

.switch {
    width: 5rem;
    height: 2.5rem;
    background-color: var(--color-switch-background);
    border-radius: 10rem;
    padding: 0.3rem;
    margin-top: 1rem;
    display: grid;
    cursor: pointer;
    transition: .25s;
    justify-items: flex-start;

    &--active {
        background-color: var(--color-switch-active);
        justify-items: flex-end;
    }

    &__inner {
        width: 1.9rem;
        height: 1.9rem;
        background-color: var(--color-node);
        border-radius: 50%;
    }
}

.sidebar {
    width: 12rem;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-sidebar);
    border: 0.1rem solid var(--color-sidebar-border);
    z-index: 20;
    padding: 1rem;

    display: flex;
    flex-direction: column;
}

.sidebar-item {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 0.5rem;
    cursor: pointer;
    user-select: none;
    border-bottom: 0.1rem solid var(--color-sidebar-border);
    color: var(--color-sidebar-text);

    &:last-child {
        border: none;
    }

    &:hover {
        color: var(--color-sidebar-hover);

        svg * {
            fill: var(--color-sidebar-hover) !important;
            stroke: var(--color-sidebar-hover) !important;
        }
    }

    &__name {
        font-size: 1.5rem;
        text-align: center;
        line-height: 1.05;
        margin-bottom: -0.7rem;
    }

    &__svg div div {
        display: grid;
        margin-top: 1.5rem;

        svg {
            width: 100%;
            height: 3rem;
            justify-self: center;

            & * {
                fill: var(--color-sidebar-text);
                stroke: var(--color-sidebar-text);
            }
        }
    }
}
